:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    #EEEEDD; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  font-family: 'Lexend Exa';
}

div.banner {
  background-image: linear-gradient(to bottom,         
  #bdbdbd, #e65100);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.home_new_list_button {
  font-size: 32pt;
}
.home_new_list_button:hover {
  box-shadow: 1px 2px;
}

.border{
  border: 1px solid #757575;
}


.section{
  padding-top: 70px;
}
.canvas{
  background-color: white;
  margin-top: 70px;
  border: 1px solid grey;
  width: 100%;
  height: 625px;
}

.container-prop{
  background-color: white;
  position: relative;
  display: inline-block;
  height: 75px;
  width: 110px;
}

.button-prop{
  height: 30px;
  width:80px;
  display: inline-block;
}

.textfield-prop{
  height:25px;
  width:125px;
  display: inline-block;
}
